<a href="https://colab.research.google.com/github/yyeongeun/digitalhanaro/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%881/230511.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초
## 주석 ctrl + /

### 코드 실행 단축키
#### 1. ctrl + enter(커서위치가 그대로)
#### 2. alt + enter 새로운 셀로 이동(새로 셀을 만듦)
#### 3. shift + enter 새로운 셀로 이동(기존 만들어진 셀)

### 표현식, 연산자, 키워드, 출력

In [ ]:
# 표현식
23
"Hello"
1+2

3

In [ ]:
# 프로그램 : 문장이 모여서 만들어진 코드
# 키워드 확인하는 방법
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# 식별자
student_name #변수명
#class #키워드는 식별자로 사용 불가
#숫자로 시작 X, 언더바_로 시작 O, 빈칸사용 X
_class

In [ ]:
# 문장 : 표현식이 모여서 실행할 수 있는 코드 # 한줄의 코드
# 연산자
# 값과 값 사이에 존재 + 기능
# 사칙연산
a = 1+2
a

3

In [ ]:
print("안녕")
print("안녕"*10)
print() # 식별자

안녕
안녕안녕안녕안녕안녕안녕안녕안녕안녕안녕

In [ ]:
print("이름1","이름2") # 여러개 가능

이름1 이름2

# 자료형

In [ ]:
# 자료형 확인
type("배고파") #str = string = 문자열

str

In [ ]:
type(23) #int = integer = 정수 = 소숫점 없는 숫자

int

In [ ]:
type(2.3) #float = 실수 = 소숫점 있는 숫자

float

In [ ]:
type(True) #bool = boolean = 불 = 논리형

bool

### 문자열

In [ ]:
print("안녕")
print('안녕')

안녕
안녕

In [ ]:
# 문자열 안에서 따옴표를 사용하는 경우
print(""안녕"이라고 말해봐")

SyntaxError: ignored

In [ ]:
# 위의 에러 수정
print("'안녕'이라고 말해봐")
print('"안녕"이라고 말해봐')

'안녕'이라고 말해봐
"안녕"이라고 말해봐

#### 이스케이프 문자
#### 역슬래시(\) 와 함께 쓰는 특수 문자

In [ ]:
print("\"안녕\"이라고 말해봐")

"안녕"이라고 말해봐

In [ ]:
print('\'안녕\'이라고 말해봐')

'안녕'이라고 말해봐

In [ ]:
# 줄바꿈 \n
print("동해물과 백두산이\n마르고 닳도록")

동해물과 백두산이
마르고 닳도록

In [ ]:
# 탭 \t
print("안녕\t안녕")

안녕	안녕

In [ ]:
# 역슬래시 \\
print("\\")
print("\\\\")

\
\\

#### 여러 줄의 문자열

In [ ]:
print("하나~~~~~~\n둘~~~~~~~~\n셋~~~~~~~~\n넷~~~~~~")

하나~~~~~~
둘~~~~~~~~
셋~~~~~~~~
넷~~~~~~

In [ ]:
# 엔터사용시 """ 3개
print("""하나~~~
둘~~~~
셋~~~~
넷~~~~""")

하나~~~
둘~~~~
셋~~~~
넷~~~~

In [ ]:
# 비어있는줄 O
print("""
하나~~~
둘~~~~
셋~~~~
넷~~~~
""")

하나~~~
둘~~~~
셋~~~~
넷~~~~

In [ ]:
# 비어있는 줄 삭제
print("""\
하나~~~
둘~~~~
셋~~~~
넷~~~~\
""")

하나~~~
둘~~~~
셋~~~~
넷~~~~

#### 문자열 연산자

In [ ]:
# + :문자열 연결 연산자 = 합쳐주기
print("안녕"+"하시렵니까?")
print("안녕"+"!!!")
#print("안녕"+1) #문자와 숫자는 더할 수 없다
print("안녕"+"1")

안녕하시렵니까?
안녕!!!
안녕1

In [ ]:
# * : 문자열 반복 연산자 = 반복
print("안녕"*5)
print(5*"안녕")

안녕안녕안녕안녕안녕
안녕안녕안녕안녕안녕

#### 인덱스 & 인덱싱

In [ ]:
# 안녕하세요
# 1 2 3 4 5 => 원 인덱스 = 보통 숫자 세는 방식
# 0 1 2 3 4 => 제로 인덱스 = 파이썬 숫자 세는 방식
# -5 -4 -3 -2 -1
print("안녕하세요"[0])
print("안녕하세요"[1])
print("안녕하세요"[2])
print("안녕하세요"[3])
print("안녕하세요"[4])

안
녕
하
세
요

In [ ]:
print("안녕하세요"[5])

IndexError: ignored

In [ ]:
print("안녕하세요"[-1])

요

#### 슬라이싱

In [ ]:
# 인덱스 범위 지정 = 슬라이싱
# [시작번호:끝번호]
# 파이썬은 끝번호를 포함하지 않음
# 안녕 => 0:1 => 0:1+! => 0:2

# 시작번호 생략
print("안녕하세요"[0:1+1])
print("안녕하세요"[:2])

안녕
안녕

In [ ]:
# 끝번호 생략
print("안녕하세요"[2:5])
print("안녕하세요"[2:])

하세요
하세요

#### 문자열의 길이

In [ ]:
# legth 문자열 길이 반환 return
print(len("안녕하세요"))

5

## 숫자

In [ ]:
# 정수
print(23)
print(type(23))

23
<class 'int'>

In [ ]:
# 실수
print(2.3)
print(type(2.3))

2.3
<class 'float'>

### 사칙연산자

In [ ]:
print(3+2)
print(3-2)
print(3*2)
print(3/2)

5
1
6
1.5

In [ ]:
# 나누기
print(3/2) # 실수
print(3//2) # 몫
print(3%3) #나머지 = 정수

1.5
1
0

In [ ]:
# 제곱
2**2

4

In [ ]:
2**3

8

In [ ]:
2**4

16

### 우선순위

In [ ]:
2+2*2

6

In [ ]:
2+(2*2)

6

In [ ]:
2+2-((2*2)/2)*2

0.0

In [ ]:
2+2-(((2*2)/2)*2)

0.0

### 숫자와 문자열 연산

In [ ]:
number = 4
string = "랑해"
print(number + string)

TypeError: ignored

In [ ]:
number = "4"
string = "랑해"
print(number + string)

4랑해

### 문자열의 우선순위

In [ ]:
print("안녕"+"하세요")

안녕하세요

In [ ]:
print("안녕"+"하세요"*3)

안녕하세요하세요하세요

In [ ]:
print(("안녕"+"하세요")*3)

안녕하세요안녕하세요안녕하세요

## 변수

In [ ]:
# 변수 생성
pi = 3.14
# 변수 확인
pi

3.14

In [ ]:
# 변수 사용
print(pi + pi)

6.28

### 연산

In [ ]:
# 사칙연산
print(pi+pi)
print(pi-pi)
print(pi*pi)
print(pi/pi)
print(pi//2) #몫
print(pi%2) #나머지
print(pi**2) #제곱

6.28
0.0
9.8596
1.0
1.0
1.1400000000000001
9.8596

In [ ]:
# 원의 둘레 = 2*pi*r
# 원의 넓이 = pi*r*r
pi = 3.14
r = 5
print("원의 둘레: ",2*pi*r)
print("원의 넓이: ",pi*r*r)

원의 둘레:  31.400000000000002
원의 넓이:  78.5

### 복합대입연산자

In [ ]:
# += 숫자연산
no = 10
no += 1
no += 1
no += 1
print(no)

13

In [ ]:
# += 문자연산(+,*)
string = "안녕"
string += "!"
string += "!"
string += "!"
print(string)

안녕!!!

### 사용자입력

In [ ]:
# 사용자 입력 값을 반환
input("문자를 입력하세요>")

문자를 입력하세요>대한민국

'대한민국'

In [ ]:
input("숫자를 입력하세요>")

숫자를 입력하세요>10

'10'

In [ ]:
# 문자열
var1 = input("문자를 입력하세요")
print(type(var1))

문자를 입력하세요10
<class 'str'>

In [ ]:
# 숫자
var2 = input("숫자를 입력하세요")
print(type(var2))

숫자를 입력하세요10
<class 'str'>

In [ ]:
# bool
var3 = input("bool을 입력하세요")
print(type(var3))

bool을 입력하세요True
<class 'str'>

In [ ]:
no = input("정수를 입력하세요>")
print("계산 결과: ",no+10) #input은 str로만 저장한다!!!!

정수를 입력하세요>10

TypeError: ignored

In [ ]:
no = input("정수를 입력하세요>")
print("계산 결과: ",int(no)+10) #정수형으로 변환후 연산

정수를 입력하세요>10
계산 결과:  20

### 캐스트 함수

In [ ]:
# 정수로 변환 int()
input_a = input("첫번째 정수를 입력하세요>")
input_b = input("두번째 정수를 입력하세요>")
int_a = int(input_a)
int_b = int(input_b)
print("문자열 = ",input_a+input_b)
print("정수 = ",int_a+int_b)

첫번째 정수를 입력하세요>10
두번째 정수를 입력하세요>20
문자열 =  1020
정수 =  30

In [ ]:
# 실수로 변환 float()
input_a = input("첫번째 정수를 입력하세요>")
input_b = input("두번째 정수를 입력하세요>")
int_a = float(input_a)
int_b = float(input_b)
print("문자열 = ",input_a+input_b)
print("실수 = ",int_a+int_b)

첫번째 정수를 입력하세요>10
두번째 정수를 입력하세요>20
문자열 =  1020
실수 =  30.0

In [ ]:
# 문자 input시 int, float 변환
a = int("23")
b = float("2.3")
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [ ]:
# 숫자를 문자로 변환
a = str(23) #정수
b = str(2.3) #실수
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>


# ValueError

In [ ]:
# 1) 숫자가 아닌 값을 숫자로 변환하는 경우
int("안녕")

ValueError: ignored

In [ ]:
# 2) 실수를 정수로 변환하는 경우
int("2.3")

ValueError: ignored

# 변환 프로그램

## m -> cm

In [ ]:
# 1m = 100cm
meter = input("키(m)를 입력하세요>")
meter = float(meter)
height = meter * 100
print(meter,"m는 cm로 변환하면 ", height,"cm 입니다.")

키(m)를 입력하세요>1.7
1.7 m는 cm로 변환하면  170.0 cm 입니다.

## inch -> cm

In [ ]:
# 1inch = 2.54cm
inch = input("인치(inch)를 입력하세요")
inch = float(inch)
cm = inch*2.54
print(inch,"inch는 cm로 변환하면 ", cm, "cm입니다.")

인치(inch)를 입력하세요1
1.0 inch는 cm로 변환하면  2.54 cm입니다.

# 파이썬 튜터
코드 시각화 이해에 도움
https://pythontutor.com/visualize.html#mode=display