<a href="https://colab.research.google.com/github/yyeongeun/digitalhanaro/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%881/230515~16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트

## 연결 vs 추가

In [ ]:
# 연결 +
list_1 = [1,2,3]
list_2 = [4,5,6]
print(list_1 + list_2)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 연결 *
print(list_1*3) # 원본 리스트 값 유지

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 추가 + = 뒤에 추가
list_1.append(5) # 원본 리스트 값 유지 X, 새 리스트
print(list_1) # 파괴적 처리

[1, 2, 3, 5]

In [ ]:
# 리스트 길이
len(list_1) #요소의 개수

4

In [ ]:
# 추가 = 중간에 추가 = 원하는 위치(인덱스 번호)에 추가
list_1.insert(3,4) # 인덱스 3번 위치에 4라는 값(요소) 추가

In [ ]:
print(list_1) # 파괴적 처리

[1, 2, 3, 4, 5]

In [ ]:
# 추가 = + 연결 & 파괴적 처리 = 리스트 전체 요소
list_1.extend(list_2)
print(list_1)

[1, 2, 3, 4, 5, 4, 5, 6]

## 제거
1.   인덱스 번호로 제거 del pop
2.   값으로 제거 remove

In [ ]:
# 인덱스 번호로 제거
# del 키워드 = delete
del list_1[2]
print(list_1)

[1, 2, 4, 5, 4, 5, 6]

In [ ]:
# pop 키워드
list_1.pop(1)
print(list_1)

[1, 4, 5, 4, 5, 6]

In [ ]:
# 값으로 제거
# remove 함수
list_1.remove(4) # 첫번째 4가 삭제
print(list_1)

[1, 5, 4, 5, 6]

In [ ]:
# 리스트 안의 모든 요소 제거 = 비우기 = 리스트 구조 살아있음
list_1.clear()

## 정렬

In [ ]:
# 오름차순
score = [75,55,40,90,100]
score.sort()
print(score)
# 내림차순
score.sort(reverse=True)
print(score)

[40, 55, 75, 90, 100]
[100, 90, 75, 55, 40]

In [ ]:
# in & not in
print(75 in score)
print(0 in score)
print(75 not in score)
print(0 not in score)

True
False
False
True

## 전개 연산자

In [ ]:
# 1) 리스트 안에서 사용
a = [1,2,3]
b = [*a] # 비파괴적 처리 != append 함수와 다름
c = [*a, *a]
print(a)
print(b)
print(c)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 1, 2, 3]

In [ ]:
# 2) 함수에서 사용
print(a)
print(*a)

[1, 2, 3]
1 2 3

## 반복문

### 범위

In [ ]:
# 1) 끝번호, 시작 번호 생략 (=처음부터)
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 2) 시작 번호, 끝번호 & 간격이 1
range(1,10)
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 3) 시작 번호, 끝번호, 간격 2
range(1,10,2)
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [ ]:
# for 반복문
for i in range(10):
  print(i)
  print("반복")

0
반복
1
반복
2
반복
3
반복
4
반복
5
반복
6
반복
7
반복
8
반복
9
반복

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
# 리스트로 반복문
list_a = [1,2,3] # 1차원
list_b = [[1,2,3],[4,5,6]] # 2차원

In [ ]:
# 3개의 요소를 가지고 있어 3번 반복
for i in list_a:
  print(i)

1
2
3

In [ ]:
# 2개의 요소를 가지고 있어 2번 반복
# 여전히 리스트 형태로 출력
for i in list_b:
  print(i)

[1, 2, 3]
[4, 5, 6]

In [ ]:
for i in list_b:
  for j in i:
    print(j)

1
2
3
4
5
6

In [ ]:
list_c = [[1,2,3],[4,5,6],7]

In [ ]:
for i in list_c:
  print(i)
  for j in i: #원소가 한개일땐 반복문 불가능 => error!
    print(j)

[1, 2, 3]
1
2
3
[4, 5, 6]
4
5
6
7

TypeError: ignored

In [ ]:
for i in list_c:
  if type(i) == list: # 리스트인 경우만 for문 돌리기
    for j in i:
      print(j)
  else:
    print(i)

1
2
3
4
5
6
7

# 딕셔너리

{"key":value}
[key] 인덱싱

## 딕셔너리 만들기

In [ ]:
# 리스트와 딕셔너리 비교
# 딕셔너리 생성
sd_dic = {
    "이름" : "정대만",
    "나이" : 19,
    "키" : 183,
    "몸무게" : 70
}
# 리스트 생성
sd_list = ["정대만",19,183,70]

In [ ]:
# 이름 보기
print(sd_dic["이름"])
print(sd_list[0])

정대만
정대만

In [ ]:
# 나이 보기
print(sd_dic["나이"])
print(sd_list[1])

19
19

In [ ]:
# 몸무게 보기
print(sd_dic["몸무게"])
print(sd_list[3])

70
70

In [ ]:
# 딕셔너리 값 변경
sd_dic["키"] = 185
print(sd_dic)

# sd_dic{"키"} <= 실수하지 말 것!

{'이름': '정대만', '나이': 19, '키': 185, '몸무게': 70}

## 여러개 값을 가지는 딕셔너리

In [ ]:
# 여러 개의 값을 가지는 딕셔너리 생성
bs = {
    "선수" : ["채치수","정대만","송태섭","강백호","서태웅"],
    "감독" : ["안감독"],
    "매니저" : ["한나"]
}
print(bs)

{'선수': ['채치수', '정대만', '송태섭', '강백호', '서태웅'], '감독': ['안감독'], '매니저': ['한나']}

In [ ]:
bs["선수"]

['채치수', '정대만', '송태섭', '강백호', '서태웅']

In [ ]:
bs["선수"][1]

'정대만'

In [ ]:
# 값 변경
bs["매니저"][0] = "소연"
print(bs)

{'선수': ['채치수', '정대만', '송태섭', '강백호', '서태웅'], '감독': ['안감독'], '매니저': ['소연']}

In [ ]:
# 새로운 키와 값 추가
# 하나의 값
bs["상대팀"] = "산왕공고"
print(bs)

{'선수': ['채치수', '정대만', '송태섭', '강백호', '서태웅'], '감독': ['안감독'], '매니저': ['소연'], '상대팀': '산왕공고'}

In [ ]:
# 여러 개의 값
bs["별명"] = ["고릴라","불꽃남자"]
print(bs)

{'선수': ['채치수', '정대만', '송태섭', '강백호', '서태웅'], '감독': ['안감독'], '매니저': ['소연'], '상대팀': '산왕공고', '별명': ['고릴라', '불꽃남자']}

## 키와 값 제거

In [ ]:
del bs["상대팀"] #키와 값 동시 삭제
print(bs)

{'선수': ['채치수', '정대만', '송태섭', '강백호', '서태웅'], '감독': ['안감독'], '매니저': ['소연'], '별명': ['고릴라', '불꽃남자']}

## keyError

In [ ]:
# 존재하지 않는 키를 사용할 때 발생
# 값
bs["상대팀"]

KeyError: ignored

In [ ]:
del bs["상대팀"] #키와 값 동시 삭제
print(bs)

KeyError: ignored

## NameError

In [ ]:
# 문자열로 키 만들 때 따옴표 있어야함
a = {이름 : "강백호"}
print(a)

NameError: ignored

In [ ]:
# 에러 수정 = 키가 문자열이면 따옴표로 묶어줘야 함
a = {"이름" : "강백호"}
print(a)

{'이름': '강백호'}

## in 연산자

In [ ]:
# 찾고 싶은 키
"선수" in bs

True

In [ ]:
"선생님" in bs

False

In [ ]:
# 딕셔너리의 키 존재여부
key = input("찾고 싶은 키를 입력하세요>")
if key in bs:
  print("존재하는 키입니다. 해당 값은 ", bs[key], "입니다.")
else:
  print("존재하지 않는 키입니다.")

찾고 싶은 키를 입력하세요>선수
존재하는 키입니다. 해당 값은  ['채치수', '정대만', '송태섭', '강백호', '서태웅'] 입니다.

## 값을 보여주는 함수

In [ ]:
# 존재하는 키로 값 보기
bs["감독"]

['안감독']

In [ ]:
# 존재하지 않는 키로 값 보기 = KeyError
bs["감독님"]

KeyError: ignored

In [ ]:
# 존재하지 않는 키로 값 보기 = 에러 없이 결과가 없다는 내용
# 딕셔너리명.get("key명")
bs.get("감독")

['안감독']

In [ ]:
value = bs.get("감독님")
print(value)

None

# 반복문

## 딕셔너리로 반복문

In [ ]:
sd_dic = {
    "이름" : "정대만",
    "나이" : 19,
    "키" : 183,
    "몸무게" : 70
}

In [ ]:
sd_dic

{'이름': '정대만', '나이': 19, '키': 183, '몸무게': 70}

In [ ]:
# 반복문
for i in sd_dic:
  print(i) #키
  print(sd_dic[i]) #값

이름
정대만
나이
19
키
183
몸무게
70

In [ ]:
sd_dic.items()

dict_items([('이름', '정대만'), ('나이', 19), ('키', 183), ('몸무게', 70)])

##

In [ ]:
character = {
    "name" : "정대만",
    "number" : 14,
    "records" : {
        "three_point" : 24,
        "rebound" : 1
    },
    "schools" : ["무석중","북산고"]
}
print(character)

# 복잡한 딕셔너리 값 출력하기
for i in character:
  if type(character[i]) == list: #리스트 list
    for j in character[i]:
      print(j)
  elif type(character[i]) == dict: #딕셔너리 dict
    for k in character[i]:
      print(character[i][k])
  else: #나머지 값들
    print(character[i])

{'name': '정대만', 'number': 14, 'records': {'three_point': 24, 'rebound': 1}, 'schools': ['무석중', '북산고']}
정대만
14
24
1
무석중
북산고

## 범위(계속)

In [ ]:
# 매개변수는 정수형이어야 함
n = 20
range(n)

range(0, 20)

In [ ]:
range(n/2) # float형이기 때문에 에러 발생

TypeError: ignored

In [ ]:
# 몫
range(n//2) # 정수

range(0, 10)

In [ ]:
# 나머지
range(n%6)

range(0, 2)

## 리스트와 범위로 반복문

In [ ]:
# 인덱스 번호와 값을 동시에 출력
list_a = [21,34,11,5,67]

In [ ]:
print(range(len(list_a)))
print(list(range(len(list_a))))

range(0, 5)
[0, 1, 2, 3, 4]

In [ ]:
for i in range(len(list_a)):
  print("인덱스",i,"값",list_a[i])

인덱스 0 값 21
인덱스 1 값 34
인덱스 2 값 11
인덱스 3 값 5
인덱스 4 값 67

## 역반복문

In [ ]:
# 역순으로 반복
# range(0,5)
for i in range(5,0,-1):
  print(i)

5
4
3
2
1

In [ ]:
for i in range(5,1-1,-2):
  print(i)

5
3
1

In [ ]:
for i in reversed(range(1,5+1)): # reversed(range())
  print(i)

5
4
3
2
1

# 반복문 while

In [ ]:
# 무한반복
while True:
  print("언제 끝나")

In [ ]:
# 무한반복
while True:
  print("언제 끝나",end = "")

## while 문으로 for 문처럼 사용

In [ ]:
# 숫자를 0~9까지 출력
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# while문으로 재현
i = 0
while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

## 값이 있는 동안에 반복

In [ ]:
list_a = [1,2,3,2,4,2,5]
value = 2
while value in list_a:
  list_a.remove(value)

print(list_a)

[1, 3, 4, 5]

## 시간 기반으로 반복

In [ ]:
import time
number = 0
target = time.time() + 3 
while time.time() < target: # 3초동안 반복
  number += 1
print(number)

11158793

## break/continue

In [ ]:
# break
# 반복 종료
i = 0
while True:
  print(i)
  i += 1
  yn = input("종료할까요? (종료를 원하시면 Y나 y를 입력하세요)>")
  if yn in ["Y","y"]:
    print("반복 종료")
    break

0
종료할까요? (종료를 원하시면 Y나 y를 입력하세요)>n
1
종료할까요? (종료를 원하시면 Y나 y를 입력하세요)>y
반복 종료

In [ ]:
# continue
# 현재 반복 생략하고 다음 반복으로
list_a = [100,20,150,50,200]
for i in list_a:
  if i < 100:
    continue
  print(i)

100
150
200

# 문자열, 리스트, 딕셔너리

In [ ]:
list_a = [1,2,3,4,5]

print(min(list_a)) # 최소값
print(max(list_a)) # 최대값
print(sum(list_a)) # 합계

1
5
15

In [ ]:
print(min(1,2,3,4,5))
print(max(1,2,3,4,5))

1
5

In [ ]:
# 역순
list_a = [1,2,3,4,5]
list_b = reversed(list_a)
print(list_a)
print(list_b)
print(list(list_b)) # 리스트가 아니라, list() 사용

[1, 2, 3, 4, 5]
<list_reverseiterator object at 0x7f1cc81645b0>
[5, 4, 3, 2, 1]

In [ ]:
# 역반복문
for i in reversed(list_a):
  print(i)

5
4
3
2
1

## list명.enumerate()

In [ ]:
# 인덱스와 값을 동시에 출력 => 함수로 해결
list_a = [21,34,11,5,67]

In [ ]:
# 1) 리스트
i = 0
for j in list_a:
  print("인덱스",i,"값",j)  
  i += 1

인덱스 0 값 21
인덱스 1 값 34
인덱스 2 값 11
인덱스 3 값 5
인덱스 4 값 67

In [ ]:
# 2) 리스트 & 범위
for i in range(len(list_a)):
  print("인덱스",i,"값",list_a[i])

인덱스 0 값 21
인덱스 1 값 34
인덱스 2 값 11
인덱스 3 값 5
인덱스 4 값 67

In [ ]:
# enumerate
enumerate(list_a) #객체
list(enumerate(list_a)) #리스트와 유사하지만, 튜플값으로 저장되어 값 변경 불가능

[(0, 21), (1, 34), (2, 11), (3, 5), (4, 67)]

In [ ]:
for i,j in enumerate(list_a):
  print("인덱스",i,"값",j)

인덱스 0 값 21
인덱스 1 값 34
인덱스 2 값 11
인덱스 3 값 5
인덱스 4 값 67

## 딕셔너리.items()

In [ ]:
# 4) items 함수 with 딕셔너리
# 키와 값을 동시에 출력
sd_dic = {
    "이름" : "정대만",
    "나이" : 19,
    "키": 183,
    "몸무게" : 70
}
sd_dic.items() # 튜플로 저장

dict_items([('이름', '정대만'), ('나이', 19), ('키', 183), ('몸무게', 70)])

In [ ]:
for i, j in sd_dic.items():
  print("키",i,"값",j)

키 이름 값 정대만
키 나이 값 19
키 키 값 183
키 몸무게 값 70

## 리스트 내포
대괄호 안에 만듬 = append

In [ ]:
list_a = []
list_b = []

for i in range(1,6):
  list_a.append(i)
  list_b.append(i**2) #제곱

print(list_a) ; print(list_b)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [ ]:
# 리스트 내포로 재현
list_c = [i**2 for i in range(1,5+1)]
print(list_c)

[1, 4, 9, 16, 25]

In [ ]:
# 리스트 내포에 조건문 추가
# 과일만 리스트로 저장
list_a = ["사과","참외","수박","토마토"]
fruit = [i #표현식(값 표현)
         for i in list_a #반복문
         if i!= "토마토"] # 조건문
fruit

['사과', '참외', '수박']

## \n 여러 줄의 문자열 출력

In [ ]:
# 홀수, 짝수 구분하는 프로그램
number = int(input("정수를 입력하세요>"))
if number%2 == 0:
  print("""\
  입력한 숫자는 {}입니다.
  {}는 짝수입니다.\
  """.format(number,number))
else:
  print("""\
  입력한 숫자는 {}입니다.
  {}는 홀수입니다.\
  """.format(number,number))

  # 코드의 일관성이 없음 = 가독성이 떨어짐

정수를 입력하세요>16
  입력한 숫자는 16입니다.
  16는 짝수입니다.

In [ ]:
number = int(input("정수를 입력하세요>"))
if number%2 == 0:
  print("입력한 숫자는 {}입니다.\n{}는 짝수입니다.".format(number,number))
else:
  print("입력한 숫자는 {}입니다.\n{}는 홀수입니다.".format(number,number))

정수를 입력하세요>16
입력한 숫자는 16입니다.
16는 짝수입니다.

## join 문자열 연결

In [ ]:
print("-".join(["010","1234","5678"]))
print(" ".join(["010","1234","5678"]))
print("|".join(["010","1234","5678"])) # shit + \

010-1234-5678
010 1234 5678
010|1234|5678

In [ ]:
number = int(input("정수를 입력하세요>"))
if number%2 == 0:
  print("\n".join(["입력한 숫자는 {}입니다.","{}는 짝수입니다."]).format(number,number))
else:
  print("\n".join(["입력한 숫자는 {}입니다.","{}는 홀수입니다."]).format(number,number))

정수를 입력하세요>16
입력한 숫자는 16입니다.
16는 짝수입니다.

In [ ]:
# 소괄호로 문자 연결 => , 없이 사용해야 함!
a = (
    "나는 " # 사이사이에 쉼표넣으면 문자열 X
     "여름을 "
     "좋아합니다."
)
print(a)
print(type(a)) #여전히 문자열

나는여름을 좋아합니다.
<class 'str'>

In [ ]:
# 쉼표 있는 버전
a = (
    "나는 ",
     "여름을 ",
     "좋아합니다."
)
print(a)
print(type(a)) #튜플, 자료구조

('나는 ', '여름을 ', '좋아합니다.')
<class 'tuple'>

In [ ]:
a = (
    "나는 \n"
     "여름을 \n"
     "좋아합니다."
)
print(a)
print(type(a))

나는
여름을
좋아합니다.
<class 'str'>

In [ ]:
number = int(input("정수를 입력하세요>"))
if number%2 == 0:
  print("입력한 숫자는 {}입니다.\n" #문자열과 문자열 사이에 쉼표 없음!
        "{}는 짝수입니다.".format(number,number))
else:
  print("입력한 숫자는 {}입니다.\n"
        "{}는 홀수입니다.".format(number,number))

정수를 입력하세요>16
입력한 숫자는 16입니다.
16는 짝수입니다.

## 이터레이터

In [ ]:
a = [1,2,3]
b = reversed(a)
print(b) # iterator object
print(list(b))
print(list(b)) # 메모리 효율성

<list_reverseiterator object at 0x7fb32d552b00>
[3, 2, 1]
[]

In [ ]:
a = [1,2,3]
b = list(reversed(a))
print(b);print(b) #list로 만들면 저장되어서 안없어짐

[3, 2, 1]
[3, 2, 1]

In [ ]:
a = [1,2,3]
b = reversed(a)
print(next(b))
print(next(b))
print(next(b))

3
2
1

# 함수

## 사용자 정의 함수

In [ ]:
def print3times():
  print("안녕")
  print("안녕")
  print("안녕")

print3times()

안녕
안녕
안녕

## 일반매개변수

In [ ]:
# 일반매개변수 = 값을 순서대로 입력
def printntimes(value,n):
  for i in range(n): # n은 반드시 정수
    print(value) # 무슨 값이든 상관 없음

printntimes("안녕",3)

안녕
안녕
안녕

In [ ]:
printntimes("안녕",3/2) #range에 정수형이 들어 가야하기 때문에 에러 발생

In [ ]:
printntimes()

In [ ]:
printntimes("안녕")

In [ ]:
printntimes(3,3)

3
3
3

In [ ]:
printntimes(3,3,3)

## 가변매개변수

In [ ]:
# 가변매개변수 = 입력할 수 있는 값의 개수 제한이 없음 = *values
# 일반매개변수 뒤에 와야함
def printntimes(n, *values):
  for i in range(n): # n은 반드시 정수
    for j in values:
      print(j)

printntimes(3,"안녕","파이썬","재밌니")

안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니

## 기본매개변수

In [ ]:
# 기본매개변수 = 기본값을 가지는 매개변수
# 가본매개변수 뒤에 기본매개변수
def printntimes(*values, n = 3):
  for i in range(n):
    for j in values:
      print(j)

printntimes("안녕","파이썬","재밌니")
# 순서 : 일반매개변수 - 기본매개변수 - 가변매개변수

안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니

## 키워드 매개변수

In [ ]:
# 매개변수의 이름을 지정해서 입력
printntimes("안녕","파이썬","재밌니",n=5)

안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니
안녕
파이썬
재밌니

In [ ]:
printntimes("안녕","파이썬","재밌니",5)

안녕
파이썬
재밌니
5
안녕
파이썬
재밌니
5
안녕
파이썬
재밌니
5

In [ ]:
printntimes(n=5, "안녕","파이썬","재밌니")

SyntaxError: ignored

In [ ]:
# 키워드 매개변수를 사용하면 좋은 점
# 순서 고려하지 않아도 됨
def test(a,b=3,c=4):
  print(a+b+c)

In [ ]:
# 1) 기본 형태로 사용 = 매개변수 순서대로 입력
test(2,4,6)

12

In [ ]:
test(2) # 위치기반 2+3+4

9

In [ ]:
# 2) 키워드 매개변수로 입력
test(a = 2)

9

In [ ]:
test(a = 2, b = 4, c = 7)

13

In [ ]:
# 3) 키워드 매개변수 순서를 바꿔 입력 !!! GOOD
test(b = 4, c = 7, a = 2)

13

In [ ]:
# 4) 키워드 매개변수 일부만 사용
test(a = 2, c = 7)

12

In [ ]:
test(2,c = 7)

12

## return

In [ ]:
# 리턴 = 반환값, 리턴값 = 함수 적용 결과
# 1) 자료 없이 리턴
def return_test():
  print("A")
  return
  print("B")

return_test()

A

In [ ]:
# 2) 자료와 함께 리턴
def return_test():
  return "B"

return_test()

'B'

In [ ]:
def return_test():
  a = 3+2
  return 1

return_test()

1

## 입력한 값을 모두 더하는 함수

In [ ]:
def sum_all(start,end):
  output = 0
  for i in range(start, end+1):
    output += i
  return output

In [ ]:
# 일반매개변수로 사용 = 순서대로 입력
sum_all(1,3)

6

In [ ]:
# 키워드 매개변수로 사용 = 순서 상관 없음
sum_all(start=1, end=3)

6

In [ ]:
sum_all(end = 3, start = 1)

6

In [ ]:
# 기본매개변수
def sum_all(start=1,end=10,step=2):
  output = 0
  for i in range(start, end+1):
    output += i
  return output

In [ ]:
sum_all()

55

In [ ]:
# 일반매개변수로 사용 = 순서대로 입력
sum_all(1,5,2)

15

In [ ]:
# 키워드 매개변수로 사용 = 순서 상관 없음
sum_all(start = 2, end = 5, step = 2)

14

In [ ]:
sum_all(step = 2, start = 2, end = 5)

14

In [ ]:
# 키워드 매개변수 일부만 사용
sum_all(start = 1, step = 2)

55

#함수의 활용

## 재귀함수

In [ ]:
# 팩토리얼
# 반복문으로 구현
def factorial(n):
  output = 1
  for i in range(1,n+1):
    output *= i
  return output

In [ ]:
print(factorial(1))
print(factorial(2))
print(factorial(3))

1
2
6

In [ ]:
def factorial(n):
  output = 1
  for i in range(n,1-1,-1):
    output *= i
  return output

In [ ]:
print(factorial(1))
print(factorial(2))
print(factorial(3))

1
2
6

In [ ]:
# 재귀함수로 구현
def factorial(n):
  if n == 0:
    return 1
  else:
    return n*factorial(n-1)

In [ ]:
print(factorial(1))
print(factorial(2))
print(factorial(3))

1
2
6

## 피보나치 수열

In [ ]:
# 피보나치 수열 = 앞의 두 숫자를 합한게 다음 숫자
def fibonacci(n):
  if n==1:
    return 1
  elif n==2:
    return 1
  else:
    return fibonacci(n-1)+fibonacci(n-2)

In [ ]:
print(fibonacci(1))
print(fibonacci(2))
print(fibonacci(3))
print(fibonacci(4))
print(fibonacci(5))

1
1
2
3
5

In [ ]:
print(fibonacci(25))

75025

In [ ]:
print(fibonacci(50)) # 같은 계산 반복하는 문제 발생

KeyboardInterrupt: ignored

In [ ]:
# 키워드 global = 외부에 있는 변수 참조
count = 0
def fibonacci(n):
  global count
  count += 1
  if n==1:
    return 1
  elif n==2:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(25))
print(count)

75025
150049

In [ ]:
# 키워드 global = 외부에 있는 변수 참조
count = 0
def fibonacci(n):
  count # 여기에 global 키워드 넣어야 오류 없음
  count += 1
  if n==1:
    return 1
  elif n==2:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(25))
print(count)

## 메모화

In [ ]:
# 같은 값을 반복해서 구하지 않고 저장(메모)
f_dict = {
    1:1,
    2:1
}

# 조기리턴
def fibonacci(n): # n은 딕셔너리 key
  if n in f_dict:
    return f_dict[n]
  output = fibonacci(n-1) + fibonacci(n-2)
  f_dict[n] = output
  return output

In [ ]:
print(fibonacci(50))

12586269025

In [ ]:
f_dict #저장된 딕셔너리

In [ ]:
# 조기리턴 사용하지 않는 경우
def fibonacci(n): #n은 딕셔너리 키
  if n in f_dict:
      return f_dict[n] #존재하는 키의 값을 가져오는 경우 = 계산한 것이 있음
  else:
    output = fibonacci(n-1) + fibonacci(n-2)
    f_dict[n] = output
    return output

## 리스트 평탄화

In [ ]:
# 2차원 리스트 반복문 2번 사용해서 평탄화
# 실제로 중괄호가 몇 번 나올지 예상할 수 없음
# 재귀함수로 해결 가능

def flat(data):
  output = []
  for i in data:
    if type(i) == list: # 리스트인 경우
      output += flat(i) # 리스트가 아닐 때까지 반복
    else: # 요소인 경우
      output.append(i) # 요소 추가
      # output += i # 요소 추가가 아닌 리스트 연결
      # output.extend(i) # 요소 추가가 아닌 리스트 연결

  return output

# [1,2,3] => flat([1,2,3]) => 리스트 아니므로 요소 추가
# [4,[5,6]] => flat([4,[5,6]]) => 4는 요소 추가
# [5,6] => flat([5,6]) => 요소 추가
# 7 => 리스트 아니므로 요소 추가
# [8,9] => flat([8,9]) => 리스트 아니므로 요소 추가

In [ ]:
a = [[1,2,3],[4,[5,6]],7,[8,9]]
print(a)
print(flat(a))

[[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 튜플

In [ ]:
# 튜플 생성
list_a = [1,2,3]
tuple_a = (1,2,3)
print(list_a); print(tuple_a)
print(tuple(list_a)); print(type(tuple_a))

[1, 2, 3]
(1, 2, 3)
(1, 2, 3)
<class 'tuple'>

In [ ]:
print(list_a[0]);print(list_a[1]);print(list_a[2])
print(tuple_a[0]);print(tuple_a[1]);print(tuple_a[2])

1
2
3
1
2
3

In [ ]:
tuple_a[0] = 10
print(tuple_a) #튜플은 요소 변경 불가

TypeError: ignored

In [ ]:
# 소괄호 없이 튜플 생성
tuple_a = 1,2,3
print(tuple_a)
print(type(tuple_a))

(1, 2, 3)
<class 'tuple'>

In [ ]:
# 여러 변수를 한 번에 할당
[a,b] = [1,2]
(c,d) = (3,4)
print(a);print(b);print(c);print(d)
print(type(a));print(type(b));print(type(c));print(type(d))

1
2
3
4
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
# 이렇게 하지 말고 위의 방법 참고
a = 1
b = 2
c = 3
d = 4

In [ ]:
# 소괄호 없이 여러 변수에 값 할당
a,b,c = 1,2,3
print(a);print(b);print(c)
print(type(a));print(type(b));print(type(c))

1
2
3
<class 'int'>
<class 'int'>
<class 'int'>

## 값의 교환

In [ ]:
 # 리스트
 a = 1
 b = 2
 print(a);print(b)
 c = a
 a = b
 b = c
 print(a);print(b)

1
2
2
1

In [ ]:
# 튜플 => 값의 교환 편리!
a,b = 1,2
print(a);print(b)
a,b = b,a
print(a);print(b)

1
2
2
1

## 튜플&함수

In [ ]:
# 튜플 형태로 리턴하는 사용자 정의 함수 만들기
def test():
  return (1,2)
a,b = test()
# a,b = (1,2)
print(a);print(b)

1
2

In [ ]:
# 튜플 형태로 리턴하는 함수 복습
# 리스트의 인덱스와 값 반환 = enumerate()
for i,j in enumerate([1,2,3]):
  print("인덱스",i,"값",j)

인덱스 0 값 1
인덱스 1 값 2
인덱스 2 값 3

In [ ]:
# 딕셔너리의 키와 값 반환 = items()
for i,j in {0:1,1:2,2:3}.items():
  print("인덱스",i,"값",j)

인덱스 0 값 1
인덱스 1 값 2
인덱스 2 값 3

In [ ]:
# 몫 & 나머지
a,b = 63, 30
print(a//b)
print(a%b)

2
3

In [ ]:
# 몫과 나머지 값을 튜플 형태로 반환하는 함수
c,d = divmod(a,b)
print(c);print(d)

2
3

# 람다

In [ ]:
# 함수의 매개변수에 사용하는 함수 = 콜백 함수
def repeat_10(x):
  for i in range(10):
    x()
def print_hi():
  print("hi")
repeat_10(print_hi) #print_hi = 콜백 함수

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [ ]:
# map 함수 = 콜백 함수 적용 결과 값
def sqr(x):
  return x**2

list_a = [1,2,3]
output_map = map(sqr,list_a)
print(output_map)
print(list(output_map))

<map object at 0x7fb32d5538e0>
[1, 4, 9]

In [ ]:
# filter 함수 = 콜백 함수 적용 결과 중에서 True 인 것
def under_3(x):
  return x<3

list_a = [1,2,3]
output_filter = map(under_3,list_a)
print(output_filter)
print(list(output_filter))

<map object at 0x7fb32d5512a0>
[True, True, False]

In [ ]:
# 람다로 변경
list_a = [1,2,3]
# 콜백 함수 자리에 람다
# 람다 사용법 : lambda 매개변수 : 리턴값(기능 결과)
output_map = map(lambda x:x**2, list_a)
print(output_map)
print(list(output_map))

<map object at 0x7fb32d552bf0>
[1, 4, 9]

In [ ]:
list_a = [1,2,3]
output_filter = filter(lambda x:x<3, list_a)
print(output_filter)
print(list(output_filter))

<filter object at 0x7fb32d2a83a0>
[1, 2]