<a href="https://colab.research.google.com/github/yyeongeun/digitalhanaro/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%B2%98%EB%A6%AC%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D2/230525.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 분석 관련 필수 라이브러리

1. 판다스 pandas
2008년 금융데이터 분석용으로 처음 개발
오픈소스 = 무료
통계, 데이터 과학, 머신러닝 분야에서 중요하게 사용
코랩으로 실습하기 때문에 설치가 따로 필요 없음
설치: pip install pandas
업데이트 관련 질문이 나오면 y Y
2. 넘파이 numpy
숫자 해석 라이브러리
선형 대수 연산에 필요한 다차원 배열, 배열 연산 등
설치: pip install numpy
3. 맷플롯립 matplotlib
기본 제공 시각화 도구
판다스와 연계하여 데이터를 다양한 방식으로 시각화
설치: pip install matplotlib
4. 사이파이 scipy
과학용 연산과 관련된 패키지 모음
미적분, 행열 연산, 선형 대수, 방정식 계산 등의 함수 제공
설치: pip install scipy
5. 사이킷런 scikit-learn
머신러닝 학습을 위한 라이브러리
회귀, 분류, 군집 등 대부분의 머신러닝 모형 제공
설치: pip install scikit-learn

# 판다스 자료 구조

## 시리즈

In [ ]:
# 라이브러리 불러오기
import pandas as pd

In [ ]:
# 딕셔너리 생성 = 키와 값으로 구성
test_dict = {
    'a': 1,
    'b': 2,
    'c': 3
}
print(test_dict)

In [ ]:
# 딕셔너리를 시리즈로 변환
sr = pd.Series(test_dict)
print(sr)
# 시리즈의 값은 정수 int

In [ ]:
# 시리즈 객체 확인
print(type(sr))

### 인덱스

In [ ]:
# 이름 = 인덱스 이름 / 라벨
test_dict = {
    'a': 1,
    'b': 2,
    'c': 3
}
sr = pd.Series(test_dict)
# 인덱스 확인
print(sr.index)
# 데이터 타입이 object = 문자
# 인덱스 이름 = a, b, c

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
# 값 확인
print(sr.values)
# 딕셔너리의 키 => 인덱스 이름
# 딕셔너리의 값 => 값 = 숫자 int

[1 2 3]

In [ ]:
# 숫자 = 정수형 위치 인덱스
# 리스트 생성
# 기본자료형 = 문자열, 숫자, 불
test_list = ["Hello", 23, 3.14, True]
print(test_list)

In [ ]:
# 리스트를 시리즈로 변환
sr = pd.Series(test_list)
print(sr)

In [ ]:
# 인덱스 확인
print(sr.index)
# 값 확인
print(sr.values)
# 리스트의 인덱스 => 인덱스 숫자(정수)
# 리스트의 요소 => 값 = 기본자료형

RangeIndex(start=0, stop=4, step=1)
['Hello' 23 3.14 True]

### 원소 선택

In [ ]:
# 인덱스 사용
# 튜플 생성
# 리스트와 유사
# 차이점 : 소괄호 사용, 원소(개별 값) 변경 불가
# 기본자료형
test_tuple = ("정대만", 184, 73.5, True)
print(test_tuple)

In [ ]:
# 튜플을 시리즈로 변환
sr = pd.Series(test_tuple, index = ['이름','키','체중','불꽃남자'])
print(sr)

In [ ]:
# 하나의 원소 선택
# 숫자
print(sr[0]) # 이름
print(sr[1]) # 키
print(sr[2]) # 체중
print(sr[3]) # 불꽃남자

In [ ]:
# 이름
print(sr['이름']) # 이름
print(sr['키']) # 키
print(sr['체중']) # 체중
print(sr['불꽃남자']) # 불꽃남자

In [ ]:
# 여러 개의 원소 선택 = 리스트 형태로 입력
# 숫자
print(sr[[0,3]]) # 이름, 불꽃남자
print(sr[[1,3]]) # 키, 불꽃남자
# 이름
print(sr[['이름', '체중']]) # 이름, 체중
print(sr[['키', '불꽃남자']]) # 키, 불꽃남자

In [ ]:
# 범위를 지정하여 여러 개의 원소 선택 = 슬라이싱
# 숫자 = 끝 번호 포함하지 않음
print(sr[0:2]) # 이름, 키
print(sr[0:1+1]) # 이름, 키
print(sr[1:4]) # 키, 체중, 불꽃남자
print(sr[1:3+1]) # 키, 체중, 불꽃남자
# 이름
print(sr['이름':'키']) # 이름, 키
print(sr['키':'불꽃남자']) # 키, 체중, 불꽃남자

## 데이터프레임

In [ ]:
# 라이브러리 불러오기
import pandas as pd

In [ ]:
# 딕셔너리 = 키 & 여러 개의 값 (리스트 형태)
test_dict = {
    'c1': [1,2,3],
    'c2': [4,5,6],
    'c3': [7,8,9],
    'c4': [10,11,12]
}
print(test_dict)

In [ ]:
# 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(test_dict)
print(df)
print(type(df))
# 딕셔너리의 키 = 데이터프레임의 열 이름
# 딕셔너리의 값 = 데이터프레임의 열 값
# 딕셔너리의 값 = 리스트의 요소 개수 = 행 인덱스

### 인덱스

In [ ]:
# 행 인덱스와 열 이름 설정하여 데이터프레임 생성
df = pd.DataFrame([["정대만", 19, 184], 
                   ["서태웅", 17, 187]], 
                  index = ['선수1', '선수2'], # 행 인덱스
                  columns = ['이름', '나이', '키']) # 열 이름
print(df)

In [ ]:
# 행 인덱스 확인
print(df.index)
# 열 이름 확인
print(df.columns)

In [ ]:
# 행 인덱스, 열 이름 => 이름 변경
df.index = ['학생1', '학생2']
df.columns = ['성명', '연령', '신장']
print(df)

In [ ]:
# 메소드 함수 = 클래스 안에 있는 함수
# 행 인덱스, 열 이름 => 이름 변경
# rename 메소드 함수의 반환값은 새로운 데이터프레임
df_new = df.rename(index = {'학생1': '선수1', '학생2': '선수2'})
print(df)
print(df_new)

In [ ]:
# 원본을 바로 변경
print(df) # 변경 전
df.rename(index = {'학생1': '선수1', '학생2': '선수2'}, inplace = True)
print(df) # 변경 후

In [ ]:
df_new = df.rename(columns = {'성명': '이름', '연령': '나이', '신장': '키'})
print(df)
print(df_new)

In [ ]:
# 원본을 바로 변경
print(df) # 변경 전
df.rename(columns = {'성명': '이름', '연령': '나이', '신장': '키'}, inplace = True)
print(df) # 변경 후

### 행, 열 삭제

In [ ]:
# 딕셔너리 생성
score_dict = {
    'point3': [24, 3, 9],
    'point2': [6, 4, 18],
    'ft': [3, 1, 6]
}
print(score_dict)

In [ ]:
# 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(score_dict, index = ['정대만','강백호','서태웅'])
print(df)

In [ ]:
# 사본 저장
df1 = df[:]
print(df1)

In [ ]:
# drop 메소드 함수 반환 결과는 새로운 데이터프레임
# 행 삭제 => axis = 0
print(df1) # 변경 전
df2 = df1.drop('강백호', axis = 0)
print(df2) # 변경 후 = 새로운 데이터프레임

In [ ]:
print(df1) # 변경 전
df1.drop('강백호', axis = 0, inplace = True)
print(df1) # 변경 후 = df1

In [ ]:
# 사본 저장
df1 = df[:]
# 열 삭제 => axis = 1
print(df1) # 변경 전
df2 = df1.drop('ft', axis = 1)
print(df2) # 변경 후 = 새로운 데이터프레임
print(df1) # 변경 전
df1.drop('ft', axis = 1, inplace = True)
print(df1) # 변경 후 = df1

In [ ]:
# 여러 개의 행, 열 삭제 = 리스트 형태
# 사본 저장
df1 = df[:]
print(df1) # 변경 전
# 여러 개의 행 삭제
df1.drop(['강백호', '서태웅'], axis = 0, inplace = True)
print(df1) # 변경 후
# 사본 저장
df1 = df[:]
print(df1) # 변경 전
# 여러 개의 열 삭제
df1.drop(['point2', 'ft'], axis = 1, inplace = True)
print(df1) # 변경 후

### 행 선택

In [ ]:
# 딕셔너리 생성
score_dict = {
    'point3': [24, 3, 9],
    'point2': [6, 4, 18],
    'ft': [3, 1, 6]
}
print(score_dict)

{'point3': [24, 3, 9], 'point2': [6, 4, 18], 'ft': [3, 1, 6]}

In [ ]:
# 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(score_dict, index = ['정대만','강백호','서태웅'])
print(df)

     point3  point2  ft
정대만      24       6   3
강백호       3       4   1
서태웅       9      18   6

In [ ]:
# loc 인덱서 = 이름
print(df.loc['정대만']) # 시리즈
print(df.loc[['정대만']]) # 데이터프레임

In [ ]:
# iloc 인덱서 = 숫자
print(df.iloc[0]) # 시리즈
print(df.iloc[[0]]) # 데이터프레임

In [ ]:
# 여러 개의 행 선택
print(df.loc[['정대만','서태웅']]) # 데이터프레임
print(df.iloc[[0, 2]]) # 데이터프레임

In [ ]:
# 여러 개의 행 선택 (범위 지정 = 슬라이싱)
print(df.loc['강백호':'서태웅']) # 데이터프레임
print(df.iloc[0:2]) # 데이터프레임
print(df.iloc[0:1+1]) # 데이터프레임

### 열 선택

In [ ]:
# 열 선택하는 방법 3가지
# 열 하나 선택
print(df['point3']) # 시리즈
print(df[['point3']]) # 데이터프레임
print(df.point3) # 시리즈
# 여러 개의 열 선택
print(df[['point3', 'ft']]) # 데이터프레임

### 원소 선택

In [ ]:
# = 행과 열을 동시에 선택 => [행,열]
print(df)

In [ ]:
# 행만 선택
print(df.loc['정대만'])
print(df.iloc[0])

In [ ]:
# 열만 선택 = 모든 행 선택
print(df.loc[:,'point3'])
print(df.iloc[:,0])

In [ ]:
# 행과 열을 동시에 선택
print(df.loc['정대만','point3'])
print(df.iloc[0,0])

In [ ]:
# 여러 개의 행과 하나의 열 선택
print(df.loc[['정대만','서태웅'],'point2'])
print(df.iloc[[0,2],1])

In [ ]:
# 하나의 행과 여러 개의 열 선택
print(df.loc['정대만',['point3','ft']])
print(df.iloc[0,[0,2]])

In [ ]:
# 여러 개의 행과 여러 개의 열 선택
print(df.loc[['정대만','서태웅'],['point3','ft']])
print(df.iloc[[0,2],[0,2]])

In [ ]:
# 여러 개의 행과 여러 개의 열 선택(슬라이싱)
print(df.loc['정대만':'서태웅','point3':'ft'])
print(df.iloc[0:2+1,0:2+1])
print(df.iloc[0:3,0:3])

### 열 추가

In [ ]:
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5

In [ ]:
# 전부 같은 값을 가진 열 추가
df['foul'] = 2
print(df)

     point3  point2  ft  foul
정대만      24       6   3     2
강백호       3       4   1     2
서태웅       9      18   6     2

In [ ]:
# 다른 값을 가진 열 추가 = 리스트 형태
df['rebound'] = [1, 10, 5]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5

### 행 추가

In [ ]:
# 행 3 * 열 5
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5

In [ ]:
# 전부 같은 값을 가진 행 추가
df.loc['채치수'] = 0
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5
채치수       0       0   0     0        0

In [ ]:
# 다른 값을 가진 행 추가 = 리스트 형태
df.loc['송태섭'] = [9, 10, 6, 3, 0]
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   1     2       10
서태웅       9      18   6     2        5
채치수       0       0   0     0        0
송태섭       9      10   6     3        0

### 원소값 변경

In [ ]:
# 행과 열을 동시에 선택해서 값을 변경
print(df)
# 행 5 * 열 5

In [ ]:
# 하나의 행과 하나의 열을 선택하여 값 변경
df.loc['채치수','rebound'] = 5
print(df)

In [ ]:
df.iloc[4,4] = 1
print(df)

In [ ]:
# 하나의 행과 여러 개의 열을 선택하여 값 변경
df.loc['채치수', ['point2', 'foul']] = 2
print(df)

In [ ]:
df.iloc[3, [1, 3]] = 4
print(df)

In [ ]:
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   2     2        2
서태웅       9      18   2     2        2
채치수       6       4   2     3        2
송태섭       6       6   6     3        1

In [ ]:
# 여러 개의 행과 하나의 열을 선택하여 값 변경
df.loc[['강백호','채치수'], 'rebound'] = 4
print(df)

In [ ]:
df.iloc[[1,3], 4] = 3
print(df)

In [ ]:
# 여러 개의 행과 여러 개의 열을 선택하여 값을 변경
df.loc[['채치수', '송태섭'], ['point3', 'point2']] = 0
print(df)

In [ ]:
df.iloc[[3, 4], [0, 1]] = 6
print(df)

In [ ]:
# 여러 개의 행과 여러 개의 열을 선택하여 값을 변경(슬라이싱)
df.loc['강백호':'채치수', 'ft':'rebound'] = 1
print(df)

In [ ]:
df.iloc[1:4, 2:5] = 2
print(df)

In [ ]:
print(df)

     point3  point2  ft  foul  rebound
정대만      24       6   3     2        1
강백호       3       4   2     2        2
서태웅       9      18   2     2        2
채치수       6       6   2     2        2
송태섭       6       6   6     3        1

In [ ]:
# 다른 값으로 변경
# 하나의 행과 여러 개의 열을 선택하여 값 변경
df.loc['채치수', ['point2', 'foul']] = [10, 4]
print(df)

In [ ]:
# 대괄호 생략해서 한 번에 할당
df.loc['채치수', ['point2', 'foul']] = 2, 1
print(df)

In [ ]:
df.iloc[3, [1, 3]] = [4, 3]
print(df)

In [ ]:
# 여러 개의 행과 하나의 열을 선택하여 값 변경
df.loc[['강백호','채치수'], 'rebound'] = [10, 5]
print(df)

In [ ]:
df.iloc[[1,3], 4] = [12, 7]
print(df)

In [ ]:
# 여러 개의 행과 여러 개의 열을 선택하여 값을 변경
df.loc[['채치수', '송태섭'], ['point3', 'point2']] = [0, 8], [9, 8]
print(df)

In [ ]:
df.iloc[[3, 4], [0, 1]] = [1, 4], [3, 2]
print(df)

### 행과 열 위치 바꾸기

In [ ]:
print(df)

In [ ]:
print(df.T)

In [ ]:
print(df.transpose())

## 인덱스 활용

In [ ]:
import pandas as pd

In [ ]:
sd = {
    "이름": ["정대만","강백호","채치수"],
    "키": [184, 189, 193],
    "나이": [19, 17, 19],
    "득점": [28, 1, 20]
}
print(sd)

{'이름': ['정대만', '강백호', '채치수'], '키': [184, 189, 193], '나이': [19, 17, 19], '득점': [28, 1, 20]}

In [ ]:
df = pd.DataFrame(sd)
print(df)

    이름    키  나이  득점
0  정대만  184  19  28
1  강백호  189  17   1
2  채치수  193  19  20

### 특정 열을 행 인덱스로 설정

In [ ]:
print(df)
df_new = df.set_index('이름')
print(df_new)
# 원래 행 인덱스(정수)가 없어지고 이름 열이 행 인덱스가 됨

In [ ]:
print(df_new)
df_new2 = df.set_index('키')
print(df_new2)
# 키 열이 행 인덱스가 되고, 행 인덱스였던 이름 열이 다시 열로 돌아옴

In [ ]:
print(df)

In [ ]:
# 여러 개의 열을 행 인덱스로 설정
print(df)
df_new = df.set_index(['이름', '키'])
print(df_new)